<section class="about-section">
    <div class="images">
        <div class="cont-images">
            <div class="img-cont-1">
                <img src="assets/img/about-1.jpg"
                    class="size-1" />
            </div>
            <div class="img-cont-2">
                <img src="assets/img/about-2.jpg"
                    class="size-2" />
            </div>
        </div>
        <div class="cont-images">
            <div class="img-cont-3">
                <img src="assets/img/about-3.jpg"
                    class="size-2" />
            </div>
            <div class="img-cont-4">
                <img src="assets/img/about-4.jpg"
                    class="size-1" />
            </div>
        </div>
    </div>
    <div class="about-container">
        <div class="about">
            <div class="title"> Welcome To <i class="fa-solid fa-utensils"></i> Ristorante</div>
            <div class="description">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam
                et eos erat ipsum et lorem et sit, sed stet lorem sit. <br> <br>

                Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat
                ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
            </div>
            <div class="stats-section">
                <div class="divider"></div>
                <div class="stat-block">
                    <h1>15</h1>
                    <div class="text-stats">
                        <p>Years of <strong>EXPERIENCE</strong></p>
                    </div>
                </div>

                <div class="divider"></div>

                <div class="stat-block">
                    <h1>50</h1>
                    <div class="text-stats">
                        <p>Popular <strong>MASTER CHEFS</strong></p>
                    </div>
                </div>

            </div>
            <div class="read-more-button">
                <button>READ MORE</button>
            </div>

        </div>
    </div>
</section>