<nav class="navbar">
    <div class="logo">
        <span class="icon">&#x1F374;</span> Restoran
    </div>
    <ul class="nav-links">
        <div class="links">
            <li><a routerLink="/home"
                    routerLinkActive="active">Home</a></li>
            <li><a routerLink="/about"
                    routerLinkActive="active">About</a></li>
            <li><a routerLink="/service"
                    routerLinkActive="active">Service</a></li>
            <li><a routerLink="/menu"
                    routerLinkActive="active">Menu</a></li>
            <li><a routerLink="/pages"
                    routerLinkActive="active">Pages</a></li>
            <li><a routerLink="/contact"
                    routerLinkActive="active">Contact</a></li>
        </div>
        <li>
            <button class="cta">Book a Table</button>
        </li>
    </ul>

</nav>