<section class="booking">
    <div class="video">
        <img src="/assets/img/video.jpg">
        <div class="play-button">
            <span>▶</span>
        </div>
    </div>
    <div class="form-section">
        <div class="form-container">
            <h3 class="reservation-title">Reservation <span></span></h3>
            <h2 class="main-title">Book A Table Online</h2>

            <form (ngSubmit)="onSubmit()">
                <div class="input-group">
                    <input type="text"
                        placeholder="Your Name"
                        [(ngModel)]="booking.name"
                        name="name"
                        required>
                    <input type="email"
                        placeholder="Your Email"
                        [(ngModel)]="booking.email"
                        name="email"
                        required>
                </div>
                <div class="input-group">
                    <input type="datetime-local"
                        placeholder="Date & Time"
                        [(ngModel)]="booking.date"
                        name="dateTime"
                        required>
                    <select [(ngModel)]="booking.numberOfPeople"
                        (ngModelChange)="convertToNumber($event)"
                        name="people"
                        required>
                        <option [value]="null"
                            disabled
                            selected>No Of People</option>
                        <option [value]="1">People 1</option>
                        <option [value]="2">People 2</option>
                        <option [value]="3">People 3</option>
                        <option [value]="4">People 4</option>
                    </select>
                </div>
                <textarea placeholder="Special Request"
                    [(ngModel)]="booking.notes"
                    name="request"></textarea>
                <button type="submit">BOOK NOW</button>
            </form>
        </div>
    </div>
</section>