<nav class="navbar">
    <div class="logo">
        <span class="icon">&#x1F374;</span> Restoran
    </div>
    <ul class="nav-links">
        <div class="links">
            <li *ngFor="let item of data">
                <a [routerLink]="['/', item.path]"
                    routerLinkActive="active">{{item.label}}</a>
            </li>
        </div>
        <li>
            <button class="cta">Book a Table</button>
        </li>
    </ul>

</nav>
<div class="home">
    <div class="container">
        <div class="container-hero">
            <section class="hero-section">
                <div class="hero-content">
                    <h1>Enjoy Our Delicious Meal</h1>
                    <p>
                        Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet
                        diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore
                        erat
                        amet.
                    </p>
                    <button>Book a Table</button>
                </div>
                <div class="hero-image">
                    <img src="assets/img/hero.png"
                        alt="Delicious grilled food">
                </div>
            </section>
        </div>
        <section class="services-section">
            <app-service *ngFor="let service of services"
                [title]="service.title"
                [description]="service.description"
                [icon]="service.icon"></app-service>
        </section>
        <app-about></app-about>
        <app-menu></app-menu>
        <app-booking></app-booking>
        <app-team></app-team>
        <app-testimonials></app-testimonials>
        <app-footer></app-footer>
    </div>
</div>