.hero-section {
    width: 100%;
    display: flex;
    align-items: center;
    height: 500px;
    justify-content: space-between;
    padding: 4rem 2rem;
    /* background: linear-gradient(rgba(27, 27, 47, 0.85), rgba(27, 27, 47, 0.85)), url("/assets/img/bg-hero.jpg") center/cover no-repeat; */
    color: white;
}

.home {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f1f8ff;
}

.container {
    width: 75%;
    height: 100%;
    background-color: white;
}

.container-section-navbar {
    width: 75%;
    height: 100%;
    background-color: white;
    background: linear-gradient(rgba(27, 27, 47, 0.95), rgba(27, 27, 47, 0.95)), url("/assets/img/bg-hero.jpg") center/cover no-repeat;
}

.container-hero {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 100px;
}

.hero-content {
    width: 60%;
}

.hero-content h1 {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 1rem;
    width: 70%;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.hero-content button {
    background-color: #ffa500;
    color: #1b1b2f;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.3rem;
    transition: background-color 0.3s;
}

.hero-content button:hover {
    background-color: #ffc046;
}

.hero-image img {
    width: 90%;
    height: 90%;
    border-radius: 1rem;
}

.hero-image {
    position: relative;
    display: inline-block;
    overflow: hidden;
    animation: rotateImage 35s linear infinite;
    z-index: 10;
    margin-top: 100px;
}


@keyframes rotateImage {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.services-section {
    margin-top: 80px;
    width: 100%;
    padding-bottom: 90px;
    padding-top: 190px;
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    height: 80px;
    width: 1425px;
    justify-content: space-between;
    align-items: center;
    color: #ffa500;
    position: fixed;
    top: 0%;
    background: transparent;
    transition: background 0.3s ease-in-out, padding 0.3s;
    z-index: 1000;
}


.navbar.scrolled {
    width: 100%;
    background: #0f172a;
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}



.header-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f8ff;
}

span {
    color: #ffa500;
}

.container-navbar {
    width: 100%;
}

.title-container {
    height: 320px;
    width: 100%;
    text-align: center;
}

.title {
    text-align: center;
    color: white;
    font-size: 70px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
}

.path {
    text-align: center;
    font-size: 20px;
    color: white;

}

.logo {
    font-size: 45px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.icon {
    font-size: 50px;
    margin-right: 15px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    padding-right: 60px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    transition: color 0.3s;
    font-size: 18px;
}

.nav-links li a:hover,
.nav-links li a.active {
    color: #ffa500;
}

.cta {
    background-color: #ffa500;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.3rem;
    transition: background-color 0.3s;
}


.links {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    width: 500px;

}

.cta button:hover {
    background-color: #ffc046;
}

.active {
    color: #ffc046;
}

.dropdown-menu {
    list-style-type: none;
    background-color: #ffffff;
    border: 1px solid #ddd;
    width: 100px;
    height: 120px;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 70%;
    z-index: 1000;
}

.list-item {
    position: relative;
    cursor: pointer;
}

.dropdown-menu li {
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #eeeeee;
}

.dropdown-text {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: black;

}

.img-background {
    background: linear-gradient(rgba(27, 27, 47, 0.85), rgba(27, 27, 47, 0.85)), url("/assets/img/bg-hero.jpg") center/cover no-repeat;

}