<section class="testimonials">
    <div class="testimonial-text">
        <span></span> Testimonial<span></span>
    </div>
    <div class="text">
        Our Clients Say!!!
    </div>

    <div class="carousel-cards">
        <app-testimonial-card *ngFor="let card of getVisibleCards()"
            [name]="card.name"
            [job]="card.job"
            [image]="card.image"
            [text]="card.text"></app-testimonial-card>
    </div>
    <div *ngIf="testimonials.length > 0">
        <div class="dots">
            <span *ngFor="let dot of [].constructor(getDotsCount()); let i = index"
                [class.active]="i === getActiveDotIndex()"
                (click)="goToCards(i)"
                class="dot"></span>
        </div>
    </div>

</section>