<section class="booking">
    <div class="video">
        <img src="/assets/img/video.jpg">
        <div class="play-button">
            <span>▶</span>
        </div>
    </div>
    <div class="form-section">
        <div class="form-container">
            <h3 class="reservation-title">Reservation <span></span></h3>
            <h2 class="main-title">Book A Table Online</h2>

            <form>
                <div class="input-group">
                    <input type="text"
                        placeholder="Your Name">
                    <input type="email"
                        placeholder="Your Email">
                </div>
                <div class="input-group">
                    <input type="datetime-local"
                        placeholder="Date & Time">
                    <select>
                        <option>No Of People</option>
                        <option>People 1</option>
                        <option>People 2</option>
                        <option>People 3</option>
                        <option>People 4</option>
                    </select>
                </div>
                <textarea placeholder="Special Request"></textarea>
                <button type="submit">BOOK NOW</button>
            </form>
        </div>
    </div>

</section>